*.suo
*.csproj.user
.vs/

packages/

src/ClientUnity*/*
!/src/ClientUnity*/Assets/
!/src/ClientUnity*/ProjectSettings/
!/src/ClientUnity*/Packages/
/src/ClientUnity*/Assets/Plugins/*
src/ClientUnity*/Assets/Editor/Plugins/*
!src/ClientUnity*/Assets/**/*.meta

/src/ClientUnity*/Assets/Editor/Plugins/*.mdb
/src/ClientUnity*/Assets/Editor/Plugins/*.mdb.meta
/src/ClientUnity*/Assets/Plugins/*.mdb
/src/ClientUnity*/Assets/Plugins/*.mdb.meta

bin/
src/**/bin/
src/**/obj/

Asteroids.sln.DotSettings.user
